[Unit]
Description = Service Minio
Requires=repositorio.mount
After=network-online.target repositorio.mount

[Service]
User=minio
Environment=MINIO_HTTP_TRACE=/var/log/minio/minio.log
Environment=MINIO_ACCESS_KEY=miniopje
Environment=MINIO_SECRET_KEY=67e8d5353f115facce8a1a2a683d9bda
Environment=MINIO_PROMETHEUS_AUTH_TYPE="public"
ExecStart = /repositorio/minio-server/bin/minio gateway nas /repositorio/pje

[Install]
WantedBy = multi-user.target